body {
    text-align: center;
    border: 3px;
    font-family: sans-serif;
  }
#errorMessage{
    color: red;
}

.button{
    border-radius: 8px;
    background-color: lightsalmon;
    width: 120px;
}